<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-customjumio" version="0.0.1">
    <name>CustomJumio</name>

    <description>
        Cordova Plugin based off the Official Jumio Cordova plugin in order to create compatibility for Outsystems
    </description>
    <license>MIT</license>

    <keywords>cordova,android,toast,message,alert</keywords>
    <repo>https://paolo_alcabao@bitbucket.org/projectkai/customjumio.git</repo>
  
    <engines>
        <engine name="cordova" version=">=3.0.0"/>
    </engines>
  
    <js-module src="www/customjumioplugin.js" name="customJumio">
        <clobbers target="window.plugins.customJumio" />
    </js-module>

    <!-- Modification
	! Removing due to bad incompatibility with the pods
     -->
    <!-- <dependency id="cordova-plugin-cocoapod-support" /> -->
    <!-- Modification End -->

    <!-- iOS Platform Modification -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="JumioMobileSDK">
                <param name="ios-package" value="JumioMobileSDK" />
            </feature>
        </config-file>
        <header-file src="src/ios/JumioMobileSDK.h" />
        <source-file src="src/ios/JumioMobileSDK.m" />
        
        <preference name="CAMERA_USAGE_DESCRIPTION" default="This will allow ${PRODUCT_NAME} to take photos of your credentials."/>
        <config-file target="*-Info.plist" parent="NSCameraUsageDescription">
            <string>$CAMERA_USAGE_DESCRIPTION</string>
        </config-file>
        
        <!-- ORIGINAL CONFIGURATION USING THE COCOAPOD SUPPORT PLUGIN

        <pods-config ios-min-version="9.0" use-frameworks="true">
            <source url="https://github.com/CocoaPods/Specs.git" />
        </pods-config>
        <pod name="JumioMobileSDK" version="2.12.0" configurations="release,debug" /> 
    	-->

    	<podspec>
    		<config>
    			<source url="https://github.com/CocoaPods/Specs.git" />
    		</config>
    		<pods use-frameworks="true">
    			<pod name="JumioMobileSDK" tag="2.12.0" configurations="release,debug" />
    		</pods>
    	</podspec>

    </platform>
    <!-- iOS Platform Modification End -->

    <platform name="android">
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
            <uses-permission android:name="android.permission.INTERNET"/>
            <uses-permission android:name="android.permission.CAMERA"/>
            <uses-permission android:name="android.permission.VIBRATE"/>
            <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity
                android:name="com.jumio.bam.BamActivity"
                android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
                android:hardwareAccelerated="true"
                android:theme="@style/Theme.Bam" />
            <activity
                android:name="com.jumio.nv.NetverifyActivity"
                android:windowSoftInputMode="adjustResize"
                android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
                android:hardwareAccelerated="true"
                android:theme="@style/CustomNetverifyTheme"/>
            <activity
                android:name="com.jumio.dv.DocumentVerificationActivity"
                android:windowSoftInputMode="adjustResize"
                android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
                android:hardwareAccelerated="true"
                android:theme="@style/Theme.DocumentVerification"/>
        </config-file>


        <!-- Original Content -->
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="CustomJumio">
                <param name="android-package" value="com.stratpoint.cordova.plugin.CustomJumio"/>
            </feature>
        </config-file>
	
        <source-file src="src/android/CustomJumio.java" target-dir="src/com/stratpoint/cordova/plugin" />
    	<resource-file src="src/android/styles.xml" target="res/values/styles.xml" />
	<resource-file src="src/android/colors.xml" target="res/values/colors.xml" />
        <!-- Original Content End -->

        <proguard-config>
            -keep class com.jumio.** { *; }
            -keep class jumio.** { *; }
            -keep class com.samsung.** { *; }
            -keep class com.samsung.**$* { *; }
            -keep class com.microblink.** { *; }
            -keep class com.microblink.**$* { *; }

            -keep class net.sf.scuba.smartcards.IsoDepCardService {*;}
            -keep class org.jmrtd.** { *; }
            -keep class net.sf.scuba.** {*;}
            -keep class org.spongycastle.** {*;}
            -keep class org.ejbca.** {*;}

            -dontwarn java.nio.**
            -dontwarn org.codehaus.**
            -dontwarn org.ejbca.**
            -dontwarn org.spongycastle.**
            -dontwarn com.samsung.**
            -dontwarn com.microblink.**
        </proguard-config>
        <framework src="./custom.gradle" custom="true" type="gradleReference" />
        
    </platform>
</plugin>
